# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.vscode-test/

# next.js
.next/
out/
next-env.d.ts

# nitro
.nitro/
.output/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
dist/
.cache

# turbo
.turbo

# tanstack
.tanstack

# generated fumadocs source
.source

# test app
apps/test/*

infra/.terraform
infra/*.tfvars
infra/*.tfstate
infra/*.tfstate.*

*.vsix

# agent skills
.agents/
.claude/
skills-lock.json