coder:
  serviceURL: "https://coder.nolapse.tech"
  accessURL: "https://coder.nolapse.tech"
  env:
    - name: CODER_ACCESS_URL
      value: "https://coder.nolapse.tech"
    - name: CODER_OAUTH2_GITHUB_ALLOW_SIGNUPS
      value: "true"
    - name: CODER_PG_CONNECTION_URL
      valueFrom:
        secretKeyRef:
          name: coder-db-url
          key: url

  db:
    host: "postgresql.coder.svc.cluster.local"
    port: 5432
    user: "coder"
    database: "coder"
    existingSecret: "" # auto generate password

  replicas: 1

  resources:
    requests:
      cpu: 2
      memory: 2Gi
    limits:
      cpu: 2
      memory: 3Gi

  ingress:
    enable: true
    className: traefik
    host: coder.nolapse.tech
    tls:
      enable: true
      secretName: coder-tls
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      traefik.ingress.kubernetes.io/websocket: "true"
      traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
      traefik.ingress.kubernetes.io/router.tls: "true"

postgres:
  embedded: false

workspacePVC:
  storageClassName: ""
  size: 10Gi

